<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.listing.title' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block mt-2 form-bordered">
                        <div class="row">
                            <div class="col-md-12">
                                <ngx-datatable class="table-blank material" [rows]="products_listed" [columnMode]="'force'"
                                    [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements"
                                    [offset]="page.pageNumber" [limit]="page.size">
                                    <ngx-datatable-column prop="name" name="{{ 'marketplace.listing.product_list_name' | translate }}">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span class="text-yellow">{{value}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="quantity" name="{{ 'marketplace.listing.product_list_quantity' | translate }}">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="priceTQT" name="{{ 'marketplace.listing.product_list_price' | translate }}">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <div [innerHTML]="value | amountTqt"></div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column headerClass="width-40-per" cellClass="width-40-per" prop="finished" name="{{ 'marketplace.listing.product_list_actions' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div class="btn-group btn-group-justified btn-group-raised">
                                                <a class="text-blue mr-4" triggers="mouseenter:mouseleave"
                                                    container="body" placement="top" [ngbPopover]="'common.change-price' | translate">
                                                    <!-- <i class="fa fa-sort"></i> -->Change Price
                                                </a>
                                                <a class="text-blue mr-4" triggers="mouseenter:mouseleave"
                                                    container="body" placement="top" [ngbPopover]="'common.change-quantity' | translate">
                                                    <!-- <i class="fa fa-exchange"></i> -->Change Quantity
                                                </a>
                                                <a class="btn btn-sm btn-grey btn-icon" triggers="mouseenter:mouseleave"
                                                    container="body" placement="top" [ngbPopover]="'common.remove-product' | translate">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>