<section id="service-fees">
  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
      <div class="card-block main-card-block pb-0">
                    <div class="border-bt">
                        <h2 class="main-title">Service Fees</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>                    
        </div>
      <ngb-accordion class="mb-4 mt-4 ml-4 mr-4 accordion-wrapper">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-credit-card"></i> &nbsp;
              Ordinary Payments
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              General service transaction fee is 1
              <small> XIN </small>. Attached encrypted messages are 2
              <small> XIN </small>
              for the first 32 bytes and 1
              <small> XIN </small> for each additional 32 bytes. Encrypted and non-prunable messages have a maximum length of 160
              bytes. Public key announcement is free.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-share-alt"></i> &nbsp;
              Aliases
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              2
              <small> XIN </small> to set an alias with 2
              <small> XIN </small> additional fee for each 32 chars of name plus URI total length, after the first 32 bytes. Aliases
              are unique and can be any string of latin-character numbers and letters. Aliases have a maximun length of 100
              bytes and 1000 bytes for the uri. Buy/sell an alias is 1
              <small> XIN </small>.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-envelope-o"></i> &nbsp;
              Messages
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              2
              <small> XIN </small> for the first 32 bytes of a chain stored encrypted message. 1
              <small> XIN </small> for each additional 32 bytes. Maximum message length for encrypted and non-prunable messages is
              160 bytes. Upcoming encrypted messenger is free of service fee with up to 1'000 bytes and a maximum of 1'000
              last messages per user. Pruned encrypted message (42kb.) is 1
              <small> XIN </small>.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-bar-chart"></i> &nbsp;
              Assets
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              1'000
              <small> XIN </small> for issue an asset and 1
              <small> XIN </small> for singleton assets (1 share). Once issued an asset can't re-issued. Minimum name length 3 characters
              and max. 16. Asset description max. length 1'000 bytes. Asset names are unique and can be any upper/lowercase
              string of latin-character numbers and letters. Unique asset identifier is the asset ID. Buy/Sell and cancel
              open orders is 1
              <small> XIN </small>. Dividend payment is 10
              <small> XIN </small>.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-random"></i> &nbsp;
              Currencies
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              25'000
              <small> XIN </small> for 3-letter, 1'000
              <small> XIN </small> for 4-letter, 500
              <small> XIN </small> for 5-letter and 250
              <small> XIN </small> for 6 letter currency issuance. The ticker XIN and some known crypto currency symbols are restricted.
              Currencies name are unique. Currencies are uppercase latin-character only. Minimum currency name 3 and maximum
              16. Minimum currency code is 3 and maximum 6 characters. Maximum currency description length is 1'000 bytes.
              Buy/Sell and cancel exchanges is 1
              <small> XIN </small> and 40
              <small> XIN </small> for re-issue any currency. Re-issue is only possible if all units are on issuer account.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-signal"></i> &nbsp;
              Voting
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              10
              <small> XIN </small> to create a poll including 10 options and total size name and description plus options length
              not exceeding 320 bytes. 2
              <small> XIN </small> for each 32 byres after 320 bytes. Voting 1
              <small> XIN </small>. Maximum poll name length is 100 bytes, description 1'000 bytes. Maximum poll options are 10 and
              max. poll duration is 20'160 blocks (~14 Days).
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-users"></i> &nbsp;
              Crowdfunding
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              Same as currencies.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-clock-o"></i> &nbsp;
              Subscriptions
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              1
              <small> XIN </small> to create a subscription and 1
              <small> XIN </small> to cancel.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-handshake-o"></i> &nbsp;
              Escrow
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              1
              <small> XIN </small> to create an escrow and 1
              <small> XIN </small> for each signer.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-user-secret"></i> &nbsp;
              Shuffling
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              1
              <small> XIN </small> to create a shuffle and 12
              <small> XIN </small> shuffling fee.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-gears"></i> &nbsp;
              AT
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              10
              <small> XIN </small> to create an AT.
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5 class="mb-0">
              <i class="fa fa-user"></i> &nbsp;
              Additional Services
            </h5>
          </ng-template>
          <ng-template ngbPanelContent>
           
            <div class="description">
              Set or delete account info is 1
              <small> XIN </small> including 32 chars, with 2
              <small> XIN </small> additional fee for each 32 chars. Balance leasing is 1
              <small> XIN </small>. Account control is 1
              <small> XIN </small>. Special transactions like deferred or secret transactions are 2
              <small> XIN </small>.
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
   </div>
</section>