<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.product-details.remove-product' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4 product-info">
                    <div class="card-block mt-2">
                        <div class="row">
                            <div class="col-md-3">
                                <i class="icon-placeholder placeholder-icon xl-icon"></i>
                            </div>
                            <div class="col-md-9">
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'marketplace.product-details.product' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">{{ product.name }}</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'marketplace.product-details.date' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">{{ product.timestamp | timestamp }}</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'marketplace.product-details.price' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        {{ product.priceTQT | amountTqt }} {{ 'common.xin-unit-text' | translate }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'marketplace.product-details.seller' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        <a class="hyperlink">
                                            {{ product.sellerRS }} ({{ 'marketplace.product-details.view-store'|
                                            translate }})
                                        </a>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'marketplace.product-details.quantity' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">{{ product.quantity }}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="pt-2 pb-2">
                                    {{ product.description }}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <form class="form inner-form mt-2">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>
                                                        {{ 'marketplace.product-details.fee' | translate }}
                                                    </label>
                                                    <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                        <div class="col-10 pl-0">
                                                            <input type="text" id="tags" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                                placeholder="{{ 'marketplace.product-details.minimum_fee' | translate}}"
                                                                name="tags" required />
                                                        </div>
                                                        <div class="col-2 text-right pl-0">
                                                            <span class="input-group-text">
                                                                {{ 'common.xin-unit-text' | translate }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ 'marketplace.product-details.passphrase' | translate }}</label>
                                            <div class="position-relative">
                                                <input type="text" id="passphrase" class="form-control" placeholder="{{ 'marketplace.product-details.passphrase' | translate }}"
                                                    name="passphrase" required />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div class="text-right mt-4">
                                    <a class="btn btn-border mr-3" (click)="location.back()">
                                        {{ 'marketplace.product-details.cancel' | translate }}
                                    </a>
                                    <a class="btn btn-gradient">
                                        {{ 'marketplace.product-details.remove-product' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>