<div class="row" *ngIf="publishExchangeOfferForm">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block main-card-block">
        <div class="border-bt">
          <h2 class="main-title">Currency Sell Offer Details</h2>
          <app-breadcrumb></app-breadcrumb>
          <h3 class="back-button" (click)="goBack()">
            <i class="fa fa-chevron-left"></i> Back
          </h3>
        </div>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div class="card-block mr-3 ml-3">
            <aw-wizard [navBarLayout]="'large-filled-symbols'">
              <aw-wizard-step stepTitle="Details" [navigationSymbol]="{ symbol: '1' }">
                <form #f="ngForm" class="form inner-form form-bordered" novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div>
                        <label>Ticker
                          <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" placement="right" container="body" ngbPopover="Unique ticker code.">
                          </i>
                        </label>
                        <div>
                          <h4> {{publishExchangeOfferForm.ticker}} </h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div>
                        <label>Currency Id
                          <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" placement="right" container="body" ngbPopover="Currency Id">
                          </i>
                        </label>
                        <div>
                          <h4> {{publishExchangeOfferForm.currencyId}} </h4>
                        </div>
                      </div>
                    </div>
                  </div>
               
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div>
                          <label>Rate
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="The rate per currency unit at which you are selling.">
                            </i>
                          </label>
                          <div class="input-group ml-0 mr-0 sign_in_inputs row form-border-bottom">
                            <div class="col-9 pl-0">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.sellRate" name="sellRate" #sellRate="ngModel" class="pl-0 mb-0 pt-0 pb-0 form-control">
                          </div>
                            <div class="col-3 text-right">
                              <span class="input-group-text">
                                XIN
                              </span>
                            </div>
                          </div>
                          <div *ngIf="sellRate?.invalid && (sellRate?.dirty || sellRate?.touched)" class="input-error">
                            <div *ngIf="sellRate?.errors.required">
                              Rate is required
                            </div>
                            <div *ngIf="sellRate?.errors.minValue && !sellRate?.errors.required">
                              Rate must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div>
                          <label>Units
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Number of currency units you want to buy.">
                            </i>
                          </label>
                          <div class="input-group ml-0 mr-0 sign_in_inputs row form-border-bottom">
                            <div class="col-9 pl-0">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.initialSellSupply" name="initialSellSupply" #initialSellSupply="ngModel" class="pl-0 mb-0 pt-0 pb-0 form-control">
                          </div>
                            <div class="col-3 text-right">
                              <span class="input-group-text">
                                UNITS
                              </span>
                            </div>
                          </div>
                          <div *ngIf="initialSellSupply?.invalid && (initialSellSupply?.dirty || initialSellSupply?.touched)" class="input-error">
                            <div *ngIf="initialSellSupply?.errors.required">
                              Units is required
                            </div>
                            <div *ngIf="initialSellSupply?.errors.minValue && !initialSellSupply?.errors.required">
                              Units must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div>
                          <label>Expiration Height
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Block height at which this offer expires.">
                            </i>
                          </label>
                          <div class="input-group ml-0 mr-0 pt-0 sign_in_inputs row form-border-bottom">
                            <div class="col-2">
                              <span class="input-group-text text-left">
                                BLOCK : {{ currentHeight }}
                              </span>
                            </div>
                            <div class="col-4 pl-0">
                            <input type="number" class="pl-0 mb-0 pt-0 pb-0 form-control" [(ngModel)]="publishExchangeOfferForm.expirationHeight" name="expirationHeight" [minValue]="accountControl.phasingFinishHeight || 10"
                              [maxValue]="14400" #expirationHeight="ngModel" required placeholder="1440">
                            </div>
                            <div class="col-2">
                              <span class="input-group-text text-left">
                                {{ publishExchangeOfferForm.days }} Day(s)
                              </span>
                            </div>
                           <div class="col-4 pr-1 text-right btn-icon-group">
                              <a class="btn btn-primary" (click)="min()">
                                <i class="fa fa-fast-backward"></i>
                              </a>
                              <a class="btn btn-primary" (click)="decrement()">
                                <i class="fa fa-minus"></i>
                              </a>
                              <a class="btn btn-primary" (click)="increment()">
                                <i class="fa fa-plus"></i>
                              </a>
                              <a class="btn btn-primary" (click)="max()">
                                <i class="fa fa-fast-forward"></i>
                              </a>
                            </div>
                          </div>
                          <div *ngIf="expirationHeight?.invalid && (expirationHeight?.dirty || expirationHeight?.touched)" class="input-error">
                            <div *ngIf="expirationHeight?.errors.required">
                              Expiration Height is required
                            </div>
                            <div *ngIf="expirationHeight?.errors.minValue && !expirationHeight?.errors.required">
                              Expiration Height must be greater than equal to {{ accountControl.phasingFinishHeight || 10 }}
                            </div>
                            <div *ngIf="expirationHeight?.errors.maxValue && !expirationHeight?.errors.required">
                              Expiration Height must be less than equal to 14400
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4 left">
                      <button [disabled]="f.invalid" (click)="publishExchangeOffer()" type="button" class="btn btn-gradient mr-1 mb-0 float-right"
                        awNextStep>
                        <i class="fa fa-chevron-right"></i> Next
                      </button>
                    </div>
                  </div>
                </form>
              </aw-wizard-step>
              <aw-wizard-step stepTitle="Confirm" [navigationSymbol]="{ symbol: '2' }" class="form-bordered mt-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="ucsb"> Ticker
                    </div>
                    <h4> {{publishExchangeOfferForm.ticker}} </h4>
                  </div>
                  <div class="col-md-6">
                      <div class="ucsb"> Currency Id
                      </div>
                      <h4> {{publishExchangeOfferForm.currencyId}} </h4>
                    </div>
                </div>
          
                <div class="row">
                  <div class="col-md-6">
                    <div class="ucsb"> Sell Rate
                    </div>
                    <h4> {{publishExchangeOfferForm.sellRate}} </h4>
                  </div>
                  <div class="col-md-6">
                    <div class="ucsb"> Units
                    </div>
                    <h4> {{publishExchangeOfferForm.initialSellSupply}}  </h4>
                  </div>
                </div>
          
                <div class="row">
                    <div class="col-md-4">
                        <div class="ucsb"> Expiration Height
                        </div>
                        <h4> {{publishExchangeOfferForm.expirationHeight}} </h4>
                      </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Valid
                    </div>
                    <h4 [innerHTML]="validBytes | txIsValid"> </h4>
                  </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Service Fee
                    </div>
                    <h4> {{ tx_fee | amountTkn }}
                      <small> XIN</small>
                    </h4>
                  </div>
                </div>
           
                <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}" class="btn btn-raised mr-1 mb-0"
                  (click)="unsignedTx = !unsignedTx">
                  <i class="fa fa-key"></i> Signed Transaction
                </button>
               <!--  <hr *ngIf="unsignedTx"> -->
                <div class="form-group mt-3" *ngIf="unsignedTx">
                  <div class="position-relative sign_in_inputs">
                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control pl-0" name="key"></textarea>
                  </div>
                </div>
                <div class="mt-4">
                  <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes);" class="btn btn-gradient float-right">
                    <i class="fa fa-check"></i> Finish
                  </button>
                  <button type="button" class="btn btn-gradient mr-1 float-right" awPreviousStep>
                    <i class="fa fa-chevron-left"></i> Previous
                  </button>
                </div>
              </aw-wizard-step>
            </aw-wizard>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>