<style>
    .modal .modal-dialog {
        max-width: 768px;
    }
</style>

<div class="modal-header modal-default text-center" >

    <div class="pull-left"><img src="images/logo_modal.png" style="margin-left:10px;margin-top:5px;height:50px;">
    </div>

    <h3 style="margin-right:70px;">
        <span ng-bind-template=" AT Details "></span>
    </h3>

</div>

<div class="modal-body" ng-init="initATDetails()">
    <div class="container-fluid">

        <br>

        <div class="col-md-4">
          <div class="ucsb"> Name </div>
          <h5> <div class="dont-break-out">  {{atDetails.name}} </div> </h5>
        </div>

        <div class="col-md-8">
          <div class="ucsb"> Description </div>
          <h5> <div class="dont-break-out">  {{atDetails.description}} </div> </h5>
        </div>

        <div class="col-md-12"> <hr/> </div>

        <div class="col-md-4">
          <div class="ucsb"> Issuer </div>

          <h5> </strong> <div compile="atDetails.creatorRS|searchTerm"> </div> </strong> </h5>
        </div>

        <div class="col-md-4">
          <div class="ucsb"> AT Id </div>
          <h5>  {{atDetails.at}}  </h5>
        </div>

        <div class="col-md-4">
          <div class="ucsb"> AT Balance </div>
          <h5>  {{atDetails.balanceTQT|amountTQT}}  <small> XIN </small></h5>
        </div>

        <div class="col-md-12"> <hr/> </div>

        <div class="col-md-4">
          <div class="ucsb"> Creation Block </div>
          <h5>  {{atDetails.creationBlock}}  </h5>
        </div>

        <div class="col-md-4">
          <div class="ucsb"> Next Block </div>
          <h5>  {{atDetails.nextBlock}}  </h5>
        </div>

        <div class="col-md-4">
          <div class="ucsb"> Prev. Balance </div>
          <h5>  {{atDetails.prevBalanceTQT|amountTQT}}  <small> XIN </small></h5>
        </div>

<div class="col-md-12"> <hr/> </div>

<div class="col-md-4">
  <div class="ucsb"> Finished </div>
  <h5> <div ng-bind-html="atDetails.finished|txIsValid"> </div> </h5>
</div>

<div class="col-md-4">
  <div class="ucsb"> Frozen </div>
  <h5> <div ng-bind-html="atDetails.frozen|txIsValid"> </div> </h5>
</div>

<div class="col-md-4">
  <div class="ucsb"> Running </div>
  <h5> <div ng-bind-html="atDetails.running|txIsValid"> </div> </h5>
</div>

<div class="col-md-12"> <hr/> </div>

<div class="col-md-4">
  <div class="ucsb"> Stopped </div>
  <h5> <div ng-bind-html="atDetails.stopped|txIsValid"> </div> </h5>
</div>

<div class="col-md-4">
  <div class="ucsb"> Dead </div>
  <h5> <div ng-bind-html="atDetails.dead|txIsValid"> </div> </h5>
</div>

<div class="col-md-4">
  <div class="ucsb"> Version </div>
  <h5> <div ng-bind-html="atDetails.atVersion"> </div> </h5>
</div>

<div class="col-md-12"> <hr/> </div>

<div class="col-md-12">

  <button type="button" class="btn btn-default btn-md" ng-click="Code = !Code"><i
          class="fa fa-code" aria-hidden="true"></i> &nbsp; Machine Code
  </button>
  &nbsp;
  <button type="button" class="btn btn-default btn-md" ng-click="Data = !Data"><i
          class="fa fa-code" aria-hidden="true"></i> &nbsp; Machine Data
  </button>

  <br><br>
  <div uib-collapse="!Code" class="collapse" aria-expanded="false" aria-hidden="true"
       style="height: 0px;">


       <h5> <div class="dont-break-out">  {{atDetails.machineCode}} </div> </h5>

  </div>
  &nbsp;
  <div uib-collapse="!Data" class="collapse" aria-expanded="false" aria-hidden="true"
       style="height: 0px;">

       <h5> <div class="dont-break-out">  {{atDetails.machineData}} </div> </h5>

  </div>

</div>

</div>
</div>

<div class="modal-footer modal-default">
    <button ng-disabled="" id="closeModal" class="btn btn-default pull-left" ng-click="cancel()">  <i class="fa fa-times" aria-hidden="true"></i> </button>
</div>
