<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-left">
            <br>
            <form name="createATForm">

                <div class="col-md-6">
                    <div class="ucsb"> Name
                        &nbsp;
                        <i
                                class="fa fa-question-circle-o"
                                aria-hidden="true"
                                style="color:#000000;"
                                popover-placement="left"
                                popover-trigger="'mouseenter'"
                                data-container="body"
                                uib-popover="The AT name. Min. 3 max. 30 chars. AT names are unique!"
                        ></i>

                    </div>

                    <h5>
                        <input type="text" class="form-control" id="name" placeholder=""
                               ng-model="createATForm.name" validator="required" minlength="3" maxlength="30"
                        >
                    </h5>
                </div>

                <div class="col-md-6 ">

                  <div class="ucsb">
                      Minimum Activation amount
                      <i
                              class="fa fa-question-circle-o"
                              aria-hidden="true"
                              style="color:#000000;"
                              popover-placement="left"
                              popover-trigger="'mouseenter'"
                              data-container="body"
                              uib-popover="This defines the minimum transaction amount this specific AT will be able to see. All transactions below that amount are blind to the AT and will be ignored."
                      ></i>

                      </div>

                          <h5 class="input-group">
                              <input type="number" class="form-control" id="minbalance"
                                     placeholder="" validator="required"
                                     ng-model="createATForm.minActivationAmount"
                                     ng-min="0"
                                     ng-max="100"
                                     min="0"
                                     max="100"
                                     ng-init="createATForm.minActivationAmount=0">

                              <span class="input-group-addon" id="addon-amount">XIN</span>
                          </h5>

                </div>

                <div class="col-md-12">
                    <hr/>
                </div>

                <div class="col-md-12">
                    <div class="ucsb"> Description
                        &nbsp;
                        <i
                                class="fa fa-question-circle-o"
                                aria-hidden="true"
                                style="color:#000000;"
                                popover-placement="left"
                                popover-trigger="'mouseenter'"
                                data-container="body"
                                uib-popover="A description about your AT. Max. 1.000 chars."
                        ></i>

                    </div>
                    <h5>

                        <textarea class="form-control" rows="3" id="description"
                                  placeholder="" style="resize: none;"
                                  ng-model="createATForm.description" validator="required" initial-validity="true"
                                  minlength="0" maxlength="1000">
                        </textarea>

                    </h5>
                </div>

                <div class="col-md-12">
                    <hr/>
                </div>

                <div class="col-md-12">
                    <h5>
                        <button ng-disabled="!createATForm.$valid" class="btn btn-infinity pull-right"
                                ng-click="$nextStep()">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </h5>
                </div>

            </form>

        </div>

    </div>
    <div ng-init="initStep1() "></div>
</div>
