<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">AT Compiler</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>

                <div class="card-body">
                    <div class="card-block mr-md-2 ml-md-2 form-bordered">
                        <div class="row">
                            <div class="col-12">
                                <form class="form" #atCompiler="ngForm" novalidate>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group mt-3 box-border mb-0">
                                                    <div class="box-header"><label>Code</label></div>
                                                    <div>
                                                        <textarea type="text" name="textCode" id="textCode" [(ngModel)]="atTextCode"
                                                            class="form-control" style="min-height:350px" placeholder="Enter Code"
                                                            required></textarea>
                                                        <div>
                                                            <button class="btn btn-gradient mb-0" (click)="getCode(atTextCode)">
                                                                Generate <i class="fa fa-long-arrow-right ml-2 font-medium-2"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group mt-3 box-border mb-0">
                                                    <div class="box-header"><label>Output</label></div>
                                                    <div class="full-height-wrapper">
                                                        <textarea class="form-control full-height" style="min-height: 140px;"
                                                            disabled="disabled">{{ outputCode }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>