
<div class="col-lg-10" ng-controller="ATWorkbenchMainCtrl">

  <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" ng-init="status = {open: true}" is-open="status.open" style="background-color:#FFFFFF;" >

          <uib-accordion-heading>
              <i class="fa fa-gears" aria-hidden="true"></i>&nbsp; AT Workbench
              <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
          </uib-accordion-heading>

          <button ng-disabled="true" class="btn btn-default btn-md "  ng-click="">
            <i class="fa fa-gear" aria-hidden="true"></i> &nbsp; Compiler
          </button>

          <button ng-disabled="true" class="btn btn-default btn-md "  ng-click="">
            <i class="fa fa-gear" aria-hidden="true"></i> &nbsp; Decompiler
          </button>

          <button ng-disabled="true" class="btn btn-default btn-md "  ng-click="">
            <i class="fa fa-gear" aria-hidden="true"></i> &nbsp; Converter
          </button>

          <button ng-disabled="true" class="btn btn-default btn-md "  ng-click="">
            <i class="fa fa-gear" aria-hidden="true"></i> &nbsp; Templates
          </button>


          <button ng-disabled="true" class="btn btn-default btn-md "  ng-click="">
            <i class="fa fa-gear" aria-hidden="true"></i> &nbsp; Debugger
          </button>



        </div>

      </uib-accordion>

</div>

<!-- <div class="col-lg-10">

  <uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" ng-init="status = {open: true}" is-open="status.open" style="background-color:#FFFFFF;" >

          <uib-accordion-heading>
              Tools
              <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
          </uib-accordion-heading>

        </div>
</uib-accordion>
    <div class="footer-padding"></div>
</div> -->
