<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.tag.title' | translate }} - {{ 'Domain' }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block mt-2 form-bordered">
                        <div class="row">
                            <div class="col-md-12">
                                <ngx-datatable class="material" [rows]="tagListings" [columnMode]="'force'" [rowHeight]="'auto'"
                                    [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size">
                                    <ngx-datatable-column prop="url" name="{{ 'marketplace.tag.product_details' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div><strong><a class="hyperlink">{{row.transactionJSON.attachment.name}}</a></strong></div>
                                            <span>{{row.transactionJSON.attachment.description}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="votingModel" name="{{ 'marketplace.tag.price' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span>{{row.transactionJSON.attachment.priceTQT | amountTqt}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="options" name="{{ 'marketplace.tag.quantity' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            {{row.transactionJSON.attachment.quantity}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="finished" name="{{ 'marketplace.tag.tags' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span class="badge badge-info m-1" *ngFor="let tag of row.transactionJSON.attachment.tags.split(',')">{{tag}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="finished" name="{{ 'marketplace.tag.seller_details' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div>{{ 'marketplace.tag.seller' | translate }}: <a class="hyperlink">{{row.transactionJSON.senderRS}}</a></div>
                                            <div>{{ 'marketplace.tag.id' | translate }}: <a class="hyperlink">{{row.transactionJSON.ecBlockId}}</a></div>
                                            <div>{{ 'marketplace.tag.listing_date' | translate }}: <span>{{row.transactionJSON.timestamp
                                                    | timestamp}}</span></div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>