<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.tag.title' | translate }} - {{ 'Domain' }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4">
                    <div class="card-block mt-2">
                        <div class="row  tag-details shadow-box mb-3">
                            <div class="col-md-2">
                                <i class="icon-placeholder placeholder-icon"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-7 ">
                                        <h2><a>icocoins.xyz</a></h2>
                                        <h4>50,000 XIN</h4>
                                    </div>
                                    <div class="col-md-5 text-right time">
                                        <i class="icon-Account"></i> 9/5/2018 18:10:40
                                    </div>
                                    <div class="col-md-12">
                                        <p class="mt-2">icocoinc.xyz is a great domain name for ico and crypto coin
                                            directory.short memorable and to the point . has long term resale value
                                            too.
                                            transfer of ownership immediately on transaction completion</p>
                                        <ul class="mt-2 tag-info mb-0">
                                            <li><i class="icon-Account"></i><strong>Quantity: </strong>1</li>
                                            <li><i class="icon-tags"></i><strong>Tags: </strong><a href="#">Domain</a></li>
                                            <li><i class="icon-Account"></i><strong>Seller: </strong><a>XIN-RNNV-MPRH-ZULM-6TACV
                                                    (Info)</a></li>
                                            <li><i class="icon-Blockexplorer"></i><strong>Product ID: </strong><a>11691442424766650001</a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>



                        <div class="row  tag-details shadow-box mb-3">
                            <div class="col-md-2">
                                <i class="icon-placeholder placeholder-icon"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-7 ">
                                        <h2><a>icocoins.xyz</a></h2>
                                        <h4>50,000 XIN</h4>
                                    </div>
                                    <div class="col-md-5 text-right time">
                                        <i class="icon-Account"></i> 9/5/2018 18:10:40
                                    </div>
                                    <div class="col-md-12">
                                        <p class="mt-2">icocoinc.xyz is a great domain name for ico and crypto coin
                                            directory.short memorable and to the point . has long term resale value
                                            too.
                                            transfer of ownership immediately on transaction completion</p>
                                        <ul class="mt-2 tag-info mb-0">
                                            <li><i class="icon-Account"></i><strong>Quantity: </strong>1</li>
                                            <li><i class="icon-tags"></i><strong>Tags: </strong><a href="#">Domain</a></li>
                                            <li><i class="icon-Account"></i><strong>Seller: </strong><a>XIN-RNNV-MPRH-ZULM-6TACV
                                                    (Info)</a></li>
                                            <li><i class="icon-Blockexplorer"></i><strong>Product ID: </strong><a>11691442424766650001</a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>



                        <div class="row  tag-details shadow-box mb-3">
                            <div class="col-md-2">
                                <i class="icon-placeholder placeholder-icon"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-7 ">
                                        <h2><a>icocoins.xyz</a></h2>
                                        <h4>50,000 XIN</h4>
                                    </div>
                                    <div class="col-md-5 text-right time">
                                        <i class="icon-Account"></i> 9/5/2018 18:10:40
                                    </div>
                                    <div class="col-md-12">
                                        <p class="mt-2">icocoinc.xyz is a great domain name for ico and crypto coin
                                            directory.short memorable and to the point . has long term resale value
                                            too.
                                            transfer of ownership immediately on transaction completion</p>
                                        <ul class="mt-2 tag-info mb-0">
                                            <li><i class="icon-Account"></i><strong>Quantity: </strong>1</li>
                                            <li><i class="icon-tags"></i><strong>Tags: </strong><a href="#">Domain</a></li>
                                            <li><i class="icon-Account"></i><strong>Seller: </strong><a>XIN-RNNV-MPRH-ZULM-6TACV
                                                    (Info)</a></li>
                                            <li><i class="icon-Blockexplorer"></i><strong>Product ID: </strong><a>11691442424766650001</a></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>



                        <!-- <ngx-datatable class="material" [rows]="tagListings" [columnMode]="'force'" [rowHeight]="'auto'"
                                    [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size">
                                    <ngx-datatable-column prop="url" name="{{ 'marketplace.tag.product_details' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div><strong><a >{{row.transactionJSON.attachment.name}}</a></strong></div>
                                            <span>{{row.transactionJSON.attachment.description}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="votingModel" name="{{ 'marketplace.tag.price' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span>{{row.transactionJSON.attachment.priceTQT | amountTqt}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="options" name="{{ 'marketplace.tag.quantity' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            {{row.transactionJSON.attachment.quantity}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="finished" name="{{ 'marketplace.tag.tags' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <span class="badge badge-info m-1" *ngFor="let tag of row.transactionJSON.attachment.tags.split(',')">{{tag}}</span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="finished" name="{{ 'marketplace.tag.seller_details' | translate }}">
                                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <div>{{ 'marketplace.tag.seller' | translate }}: <a >{{row.transactionJSON.senderRS}}</a></div>
                                            <div>{{ 'marketplace.tag.id' | translate }}: <a >{{row.transactionJSON.ecBlockId}}</a></div>
                                            <div>{{ 'marketplace.tag.listing_date' | translate }}: <span>{{row.transactionJSON.timestamp
                                                    | timestamp}}</span></div>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>