<div class="row" *ngIf="publishExchangeOfferForm">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Exchange Offer Details</h4>
        <h5 class="back-button" (click)="goBack()">
          <i class="fa fa-chevron-left"></i> Back
        </h5>
      </div>
      <div class="card-body">
        <div class="card-body">
          <div class="card-block mr-3 ml-3">
            <aw-wizard [navBarLayout]="'large-filled-symbols'">
              <aw-wizard-step stepTitle="Details" [navigationSymbol]="{ symbol: '1' }">
                <form #f="ngForm" class="form" novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group m-0">
                        <label>Ticker
                          <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" placement="right" container="body" ngbPopover="Unique ticker code.">
                          </i>
                        </label>
                        <div>
                          <h6> {{publishExchangeOfferForm.ticker}} </h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group m-0">
                        <label>Currency Id
                          <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" placement="right" container="body" ngbPopover="Currency Id">
                          </i>
                        </label>
                        <div>
                          <h6> {{publishExchangeOfferForm.currencyId}} </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <i class="fa fa-info-circle"></i> &nbsp;An exchange offer models real world exchange booth, offering to exchange currencies at
                        different buy/sell rates and limits. If you only want to buy, or only to sell, leave the opposite
                        limits at 0, and enter the same buy and sell rates.</p>
                    </div>
                  </div>
                  <hr>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Buy Rate
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="The rate per currency unit at which you are buying.">
                            </i>
                          </label>
                          <div class="input-group">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.buyRate" name="buyRate" #buyRate="ngModel"
                              class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                XIN
                              </span>
                            </div>
                          </div>
                          <div *ngIf="buyRate?.invalid && (buyRate?.dirty || buyRate?.touched)" class="input-error">
                            <div *ngIf="buyRate?.errors.required">
                              Buy Rate is required
                            </div>
                            <div *ngIf="buyRate?.errors.minValure && !buyRate?.errors.required">
                              Buy Rate must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sell Rate
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="The rate per currency unit at which you are selling.">
                            </i>
                          </label>
                          <div class="input-group">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.sellRate" name="sellRate" #sellRate="ngModel"
                              class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                XIN
                              </span>
                            </div>
                          </div>
                          <div *ngIf="sellRate?.invalid && (sellRate?.dirty || sellRate?.touched)" class="input-error">
                            <div *ngIf="sellRate?.errors.required">
                              Sell Rate is required
                            </div>
                            <div *ngIf="sellRate?.errors.minValue && !sellRate?.errors.required">
                              Sell Rate must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Buy Limit
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="For offers with buy and sell, if you sell some of the currency, and then buy some again, you can put a limit to the overall total number of units bought. This total limit cannot be less than the initial number of units to buy.">
                            </i>
                          </label>
                          <div class="input-group">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.buyLimit" name="buyLimit" #buyLimit="ngModel"
                              class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                UNITS
                              </span>
                            </div>
                          </div>
                          <div *ngIf="buyLimit?.invalid && (buyLimit?.dirty || buyLimit?.touched)" class="input-error">
                            <div *ngIf="buyLimit?.errors.required">
                              Buy Limit is required
                            </div>
                            <div *ngIf="buyLimit?.errors.minValure && !buyLimit?.errors.required">
                              Buy Limit must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sell Limit
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="For offers with buy and sell, if you sell some of the currency, and then buy some again, you can put a limit to the overall total number of units bought. This total limit cannot be less than the initial number of units to buy.">
                            </i>
                          </label>
                          <div class="input-group">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.sellLimit" name="sellLimit" #sellLimit="ngModel"
                              class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                UNITS
                              </span>
                            </div>
                          </div>
                          <div *ngIf="sellLimit?.invalid && (sellLimit?.dirty || sellLimit?.touched)" class="input-error">
                            <div *ngIf="sellLimit?.errors.required">
                              Sell Limit is required
                            </div>
                            <div *ngIf="sellLimit?.errors.minValue && !sellLimit?.errors.required">
                              Sell Limit must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Inital Buy Supply
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Number of currency units you want to buy.">
                            </i>
                          </label>
                          <div class="input-group">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.initialBuySupply" name="initialBuySupply" #initialBuySupply="ngModel" class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                UNITS
                              </span>
                            </div>
                          </div>
                          <div *ngIf="initialBuySupply?.invalid && (initialBuySupply?.dirty || initialBuySupply?.touched)" class="input-error">
                            <div *ngIf="initialBuySupply?.errors.required">
                              Inital Buy Supply is required
                            </div>
                            <div *ngIf="initialBuySupply?.errors.minValue && !initialBuySupply?.errors.required">
                              Inital Buy Supply must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Inital Sell Supply
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Number of currency units you want to sell.">
                            </i>
                          </label>
                          <div class="input-group">
                            <input type="number" minValue="0" required [(ngModel)]="publishExchangeOfferForm.initialSellSupply" name="initialSellSupply" #initialSellSupply="ngModel" class="form-control">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                UNITS
                              </span>
                            </div>
                          </div>
                          <div *ngIf="initialSellSupply?.invalid && (initialSellSupply?.dirty || initialSellSupply?.touched)" class="input-error">
                            <div *ngIf="initialSellSupply?.errors.required">
                              Inital Sell Supply is required
                            </div>
                            <div *ngIf="initialSellSupply?.errors.minValue && !initialSellSupply?.errors.required">
                              Inital Sell Supply must be greater than equal to 0
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Expiration Height
                            <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave" container="body" placement="right" ngbPopover="Block height at which this offer expires.">
                            </i>
                          </label>
                          <div class="input-group m-0">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                BLOCK : {{ currentHeight }}
                              </span>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="publishExchangeOfferForm.expirationHeight" name="expirationHeight" [minValue]="accountControl.phasingFinishHeight || 10"
                              [maxValue]="14400" #expirationHeight="ngModel" required placeholder="1440">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                {{ publishExchangeOfferForm.days }} Day(s)
                              </span>
                            </div>
                            <div class="input-group-append">
                              <a class="btn btn-primary" (click)="min()">
                                <i class="fa fa-fast-backward"></i>
                              </a>
                              <a class="btn btn-primary" (click)="decrement()">
                                <i class="fa fa-minus"></i>
                              </a>
                              <a class="btn btn-primary" (click)="increment()">
                                <i class="fa fa-plus"></i>
                              </a>
                              <a class="btn btn-primary" (click)="max()">
                                <i class="fa fa-fast-forward"></i>
                              </a>
                            </div>
                          </div>
                          <div *ngIf="expirationHeight?.invalid && (expirationHeight?.dirty || expirationHeight?.touched)" class="input-error">
                            <div *ngIf="expirationHeight?.errors.required">
                              Expiration Height is required
                            </div>
                            <div *ngIf="expirationHeight?.errors.minValue && !expirationHeight?.errors.required">
                              Expiration Height must be greater than equal to {{ accountControl.phasingFinishHeight || 10 }}
                            </div>
                            <div *ngIf="expirationHeight?.errors.maxValue && !expirationHeight?.errors.required">
                              Expiration Height must be less than equal to 14400
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions left">
                      <button [disabled]="f.invalid" (click)="publishExchangeOffer()" type="button" class="btn btn-primary mr-1 mb-0 float-right"
                        awNextStep>
                        <i class="fa fa-chevron-right"></i> Next
                      </button>
                    </div>
                  </div>
                </form>
              </aw-wizard-step>
              <aw-wizard-step stepTitle="Confirm" [navigationSymbol]="{ symbol: '2' }">
                <div class="row">
                  <div class="col-md-4">
                    <div class="ucsb"> Name
                    </div>
                    <h4> {{publishExchangeOfferForm.name}} </h4>
                  </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Ticker
                    </div>
                    <h4> {{publishExchangeOfferForm.ticker}} </h4>
                  </div>
                  <div class="col-md-4">
                      <div class="ucsb"> Currency Id
                      </div>
                      <h4> {{publishExchangeOfferForm.currencyId}} </h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <div class="ucsb"> Buy Rate
                    </div>
                    <h4> {{publishExchangeOfferForm.buyRate}} </h4>
                  </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Buy Limit 
                    </div>
                    <h4> {{publishExchangeOfferForm.buyLimit}}  </h4>
                  </div>
                  <div class="col-md-4">
                      <div class="ucsb"> Initial Buy Supply
                      </div>
                      <h4> {{publishExchangeOfferForm.initialBuySupply}} </h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <div class="ucsb"> Sell Rate
                    </div>
                    <h4> {{publishExchangeOfferForm.sellRate}} </h4>
                  </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Sell Limit 
                    </div>
                    <h4> {{publishExchangeOfferForm.sellLimit}}  </h4>
                  </div>
                  <div class="col-md-4">
                      <div class="ucsb"> Initial Sell Supply
                      </div>
                      <h4> {{publishExchangeOfferForm.initialSellSupply}} </h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="ucsb"> Expiration Height
                        </div>
                        <h4> {{publishExchangeOfferForm.expirationHeight}} </h4>
                      </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Valid
                    </div>
                    <h4 [innerHTML]="validBytes | txIsValid"> </h4>
                  </div>
                  <div class="col-md-4">
                    <div class="ucsb"> Service Fee
                    </div>
                    <h4> {{ tx_fee | amountTkn }}
                      <small> XIN</small>
                    </h4>
                  </div>
                </div>
                <hr>
                <button type="button" [ngClass]="{'btn-success': !unsignedTx, 'btn-danger': unsignedTx}" class="btn btn-raised mr-1 mb-0"
                  (click)="unsignedTx = !unsignedTx">
                  <i class="fa fa-key"></i> Signed Transaction
                </button>
                <hr *ngIf="unsignedTx">
                <div class="form-group" *ngIf="unsignedTx">
                  <div class="position-relative">
                    <textarea disabled="true" rows="3" type="text" [(ngModel)]="transactionBytes" class="form-control" name="key"></textarea>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="button" [disabled]="!validBytes" (click)="broadcastTransaction(transactionBytes);" class="btn btn-primary float-right">
                    <i class="fa fa-check"></i> Finish
                  </button>
                  <button type="button" class="btn btn-primary mr-1 float-right" awPreviousStep>
                    <i class="fa fa-chevron-left"></i> Previous
                  </button>
                </div>
              </aw-wizard-step>
            </aw-wizard>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>