<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block main-card-block">
          <div class="border-bt">
            <h2 class="main-title">My Trades</h2>
            <app-breadcrumb></app-breadcrumb>
          </div>
          <div class="card-header">
            <div class="pull-right filter-group">
              <div class="btn-group btn-group-justified btn-group-raised">
                <a href="javascript:void(0)" class="btn btn-sm btn-grey" (click)="reload()"
                   ngbTooltip="Reload" trigger="mouseenter:mouseleave"><i class="fa fa-refresh"></i></a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-block mr-3 ml-3">
              <ngx-datatable class="material" [rows]="myTrades" [columnMode]="'force'" [rowHeight]="'auto'"
                             [footerHeight]="50" [externalPaging]="true"
                             [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                             (page)='setPage($event)' (autoRefresh)="reload()">
                <ngx-datatable-column prop="name" name="Name">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="goToAssetDetails(row.asset)">{{value}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="timestamp" name="Date">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | timestamp}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="tradeType" name="Type">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <div [innerHtml]="value | buySell"></div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="buyerRS" name="Buyer">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="sellerRS" name="Seller">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <a class="hyperlink" (click)="goToAccountDetails(value)">{{value}}</a>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="priceTQT" name="Price">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | priceTqt:row.decimals}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="quantityQNT" name="Quantity">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | supply:row.decimals}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="asset" name="Action">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a class="btn btn-outline-danger" *ngIf="row.tradeType === 'buy'" (click)="goToTransactionDetails(row.bidOrder)" triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="Details">
                      <i class="fa fa-list-ul"></i>
                    </a>
                    <a class="btn btn-outline-danger" *ngIf="row.tradeType === 'sell'" (click)="goToTransactionDetails(row.askOrder)" triggers="mouseenter:mouseleave" container="body" placement="top" ngbPopover="Details">
                      <i class="fa fa-list-ul"></i>
                    </a>
                    <a class="btn btn-outline-danger" (click)="goToTradeDesk(value);"
                       triggers="mouseenter:mouseleave" container="body" placement="top"
                       ngbPopover="TradeDesk">
                      <i class="fa fa-bar-chart"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
