<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Escrow Status</h4>
                    <h5 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> Back
                    </h5>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [rowHeight]="'auto'"
                                       [footerHeight]="50" [externalPaging]="true"
                                       [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                       (page)='setPage($event)'>
                            <ngx-datatable-column name="Signer" prop="idRS">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <a (click)="accountDetail(value)" class="hyperlink"><u> {{value}} </u></a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="decision" name="Decision">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.toString().toUpperCase()}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
