<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">
                        {{ 'marketplace.tag.title' | translate }} -
                        {{ (searchData.searchType == 'account_id') ? ('marketplace.tag.seller' | translate) :
                        ('marketplace.tag.search' | translate) }}
                        '{{ searchData.searchTerm }}'
                    </h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4">
                    <div class="card-block mt-2" *ngIf="goods.length > 0">
                        <div class="row  tag-details shadow-box mb-3" *ngFor="let good of goods">
                            <div class="col-md-2">
                                <div class="sort-img">
                                    <img style="width:4rem;" src="{{ imageBaseUrl + good.goods }}" onError="this.src='./assets/images/no_image_available.png'">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-7 ">
                                        <h2><a (click)="productDetails(good)">{{ good.name }}</a></h2>
                                        <h4>{{ good.priceTQT | amountTqt }} {{ 'common.xin-unit-text' | translate }}</h4>
                                    </div>
                                    <div class="col-md-5 text-right time">
                                        <i class="icon-Account"></i> {{ good.timestamp | timestamp }}
                                    </div>
                                    <div class="col-md-12">
                                        <p class="mt-2">{{ good.description }}</p>
                                        <ul class="mt-2 tag-info mb-0">
                                            <li>
                                                <i class="icon-Account"></i>
                                                <strong>{{ 'marketplace.tag.quantity' | translate }}: </strong>
                                                {{ good.quantity }}
                                            </li>
                                            <li>
                                                <i class="icon-tags"></i>
                                                <strong>{{ 'marketplace.tag.tags' | translate }}: </strong>
                                                <a *ngFor="let tag of good.parsedTags" (click)="openTag(tag)">
                                                    {{ tag }}
                                                </a>
                                            </li>
                                            <li>
                                                <i class="icon-Account"></i>
                                                <strong>{{ 'marketplace.tag.seller' | translate }}: </strong>
                                                <a>{{ good.sellerRS }}</a>
                                            </li>
                                            <li>
                                                <i class="icon-Blockexplorer"></i>
                                                <strong>{{ 'marketplace.tag.id' | translate }}: </strong>
                                                <a (click)="productDetails(good)">{{ good.goods }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>