<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.purchased.title' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block mt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <ngx-datatable class="material" [rows]="purchased_products" [columnMode]="'force'"
                                    [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements"
                                    [offset]="page.pageNumber" [limit]="page.size">
                                    <ngx-datatable-column prop="timestamp" name="Purchase Date">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{ value | timestamp }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="name" name="Product">
                                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                            ngx-datatable-cell-template>
                                            <span *ngIf="row.pending">{{ value }}</span>
                                            <a class="hyperlink" *ngIf="!row.pending" (click)="decryptGood(purchased_products[rowIndex],rowIndex)">
                                                {{ value }}
                                            </a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="pending" name="Order Status">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{ value ? "Pending" : "Complete" }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="priceTQT" name="Price">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{ value | amountTqt}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="sellerRS" name="Seller">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <a class="hyperlink">{{ value }}</a>
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>