<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'Product Details' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4 product-info">
                    <div class="card-block mt-2">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-detail-img"><img style="width:8rem;" src="{{ imageBaseUrl + details.good }}"
                                        onError="this.src='./assets/images/no_image_available.png'"></div>
                            </div>
                            <div class="col-md-9">
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'Product' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">{{details.name}}</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'Date' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">{{ details.timestamp |
                                        timestamp }}</div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'Price' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        {{ details.priceTQT | amountTqt }} {{ 'common.xin-unit-text' | translate }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'BuyerRS' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        {{ details.buyerRS }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'SellerRs' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">
                                        {{ details.sellerRS }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-3 col-lg-2">
                                        <strong>{{ 'Quantity' | translate }}</strong>
                                    </div>
                                    <div class="col-md-9 col-lg-10">{{ details.quantity }}</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="pt-2 pb-2">
                                    <input type="text" class="form-control" placeholder="Enter your passphrase">
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="text-right mt-4">
                                    <a class="btn btn-gradient">
                                        {{ 'Decrypt' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>