<section>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-block main-card-block">
			          <div class="border-bt">
			            <h2 class="main-title">Voting List</h2>
			            <app-breadcrumb [routeChange]="routeChange"></app-breadcrumb>
							<h3 class="back-button" (click)="goBack()">
								<i class="fa fa-chevron-left"></i> Back
							</h3>
			          </div>
				
				<div class="card-body mt-4">
					<div class="card-block mr-3 ml-3">
						<div class="row">
							<div class="col-md-12">
								<ngx-datatable class="material" [rows]="voters" [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="true"
								               [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" >
									<ngx-datatable-column prop="voterRS" name="Voter">
										<ng-template let-value="value" ngx-datatable-cell-template>
											{{ value }}
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column prop="transaction" name="Details">
										<ng-template let-value="value" ngx-datatable-cell-template>
											<button class="btn btn-outline-danger actionBtn" (click)="goToDetails(value)" ngbPopover="Details" triggers="mouseenter:mouseleave">
												<i class="fa fa-list-ul font-medium-1"></i>
											</button>
										</ng-template>
									</ngx-datatable-column>
								</ngx-datatable>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>