<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block main-card-block">
        <div class="border-bt">
          <h2 class="main-title">Currency Details</h2>
          <app-breadcrumb></app-breadcrumb>
          <h3 class="back-button" (click)="goBack()">
            <i class="fa fa-chevron-left"></i> Back
          </h3>
        </div>
      </div>
      <div class="card-body" *ngIf="currencyDetails">
        <div class="card-block mr-3 ml-3">
          <div class="row">
            <div class="col-md-4">
              <div class="ucsb"> Name
              </div>
              <h4> {{currencyDetails.name}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Description
              </div>
              <h4> {{currencyDetails.description}} </h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
              <div class="ucsb"> Issuer
              </div>
              <h4> {{currencyDetails.accountRS}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Ticker
              </div>
              <h4> {{currencyDetails.code}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Currency Id
              </div>
              <h4> {{currencyDetails.currency}} </h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
              <div class="ucsb"> Creation Block Height
              </div>
              <h4> {{currencyDetails.creationHeight}} </h4>
            </div>

            <div class="col-md-4">
              <div class="ucsb"> Issuance Block Height
              </div>
              <h4> {{currencyDetails.issuanceHeight}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Decimals
              </div>
              <h4> {{currencyDetails.decimals}} </h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
              <div class="ucsb"> Initial Supply
              </div>
              <h4> {{currencyDetails.initialSupply | quantityToShare:currencyDetails.decimals|numericalString}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Max. Supply
              </div>
              <h4> {{currencyDetails.maxSupply | quantityToShare:currencyDetails.decimals|numericalString}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Reserve Supply
              </div>
              <h4> {{currencyDetails.reserveSupply | quantityToShare:currencyDetails.decimals|numericalString}} </h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
              <div class="ucsb"> Current Supply
              </div>
              <h4> {{currencyDetails.currentSupply | quantityToShare:currencyDetails.decimals|numericalString}} </h4>
            </div>

            <div class="col-md-4">
              <div class="ucsb"> Current Reserve U/T
              </div>
              <h4> {{currencyDetails.currentReservePerUnitTQT|quantToAmount|numericalString}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Min. Reserve U/T
              </div>
              <h4> {{currencyDetails.minReservePerUnitTQT|quantToAmount|numericalString}} </h4>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-4">
              <div class="ucsb"> Total Exchanges
              </div>
              <h4> {{currencyDetails.numberOfExchanges}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Total Transfers
              </div>
              <h4> {{currencyDetails.numberOfTransfers}} </h4>
            </div>
            <div class="col-md-4">
              <div class="ucsb"> Properties
              </div>
                <ul>
                  <li *ngFor="let spec of currencyDetails.types">
                    <p> {{spec}} </p>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>