<table class="table table-bordered" style="font-size: 12px;">
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td> XIN / USD </td> <td> <strong> {{xinPriceUSD}} </strong> </td>
    </tr>

    <tr>
        <td> XIN / BTC </td> <td> {{xinPriceBTC}} </td>
    </tr>

    <tr>
        <td> Volume 24h</td> <td> {{xinVolume24}} </td>
    </tr>

    <tr>
        <td> Change 24h</td> <td> {{xinChange24}} %</td>
    </tr>

    <tr>
        <td> USD / BTC </td> <td> {{xinUSDBTC}} </td>
    </tr>

    </tbody>
</table>