<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{'marketplace.store.title' | translate}}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block mt-2 form-bordered">
                        <div class="row">
                            <div class="card col-md-3 col-lg-3 col-sm-6">
                                <div class="card-body">
                                    <div class="">
                                        <div class="media-box">
                                            <div class="text-left">
                                                <h1 class="card-icon">0</h1>
                                            </div>
                                            <div class="media-body text-left">
                                                <span class="card-title">{{'marketplace.store.purchased_products' |
                                                    translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-3 col-lg-3 col-sm-6">
                                <div class="card-body">
                                    <div class="">
                                        <div class="media-box">
                                            <div class="text-left">
                                                <h1 class="card-icon">1154</h1>
                                            </div>
                                            <div class="media-body text-left">
                                                <span class="card-title">{{'marketplace.store.products_available' |
                                                    translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-3 col-lg-3 col-sm-6">
                                <div class="card-body">
                                    <div class="">
                                        <div class="media-box">
                                            <div class="text-left">
                                                <h1 class="card-icon">114</h1>
                                            </div>
                                            <div class="media-body text-left">
                                                <span class="card-title">{{'marketplace.store.total_purchases' |
                                                    translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-3 col-lg-3 col-sm-6">
                                <div class="card-body">
                                    <div class="">
                                        <div class="media-box">
                                            <div class="text-left">
                                                <h1 class="card-icon">1234</h1>
                                            </div>
                                            <div class="media-body text-left">
                                                <span class="card-title">{{'marketplace.store.total_tags' | translate}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                            <div class="col-md-2"> domain [ 152 ]</div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-6">
                                <ngx-datatable class="material" [rows]="recentListings" [columnMode]="'force'"
                                    [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements"
                                    [offset]="page.pageNumber" [limit]="page.size">
                                    <ngx-datatable-column prop="name" name="Listing Date">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="votingModel" name="Product">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="options" name="Price">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="finished" name="Seller">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                            <div class="col-md-6">
                                <ngx-datatable class="material" [rows]="recentListings" [columnMode]="'force'"
                                    [rowHeight]="'auto'" [footerHeight]="50" [externalPaging]="true" [count]="page.totalElements"
                                    [offset]="page.pageNumber" [limit]="page.size">
                                    <ngx-datatable-column prop="name" name="Purchase Date">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="votingModel" name="Product">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="options" name="Price">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column prop="finished" name="Buyer">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>