<div class="row">
  <div class="col-sm-12">
    <div class="card">      
      <div class="card-block main-card-block">
                    <div class="border-bt">
                        <h2 class="main-title">Chain Statistics</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>                    
        </div>
      <div class="card-body">
        <div class="card-block mr-3 ml-3 row mb-4" *ngIf="chainStatistics">          
          <div class="col-md-6">
            <table class="table-striped text-left">
              <tbody>
                  <tr>
                    <th class="text-left"> Account Leases </th> 
                    <td> {{chainStatistics.numberOfAccountLeases}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Active Account Leases </th> 
                    <td> {{chainStatistics.numberOfActiveAccountLeases}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Aliases </th> 
                    <td> {{chainStatistics.numberOfAliases}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Asks </th> 
                    <td> {{chainStatistics.numberOfAsks}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Bid Orders </th> 
                    <td> {{chainStatistics.numberOfBidOrders}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Blocks </th> 
                    <td> {{chainStatistics.numberOfBlocks}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Currency Transfers </th> 
                    <td> {{chainStatistics.numberOfCurrencyTransfers}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Exchanges </th> 
                    <td> {{chainStatistics.numberOfExchanges}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Orders </th> 
                    <td> {{chainStatistics.numberOfOrders}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Controlled Accounts </th> 
                    <td> {{chainStatistics.numberOfPhasingOnlyAccounts}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Trades </th> 
                    <td> {{chainStatistics.numberOfTrades}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Transfers </th> 
                    <td> {{chainStatistics.numberOfTransfers}} </td>
                  </tr>
                </tbody>
          </table>
          </div>
          <div class="col-md-6">
          <table class="border-top table-striped text-left">
              <tbody>
                  <tr>
                    <th class="text-left"> Accounts </th> 
                    <td> {{chainStatistics.numberOfAccounts}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Active Peers </th> 
                    <td> {{chainStatistics.numberOfActivePeers}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Ask Orders </th> 
                    <td> {{chainStatistics.numberOfAskOrders}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Assets </th> 
                    <td> {{chainStatistics.numberOfAssets}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Bids </th> 
                    <td> {{chainStatistics.numberOfBids}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Currencies </th> 
                    <td> {{chainStatistics.numberOfCurrencies}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Exchange Requests </th> 
                    <td> {{chainStatistics.numberOfExchangeRequests}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Offers </th> 
                    <td> {{chainStatistics.numberOfOffers}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Peers </th> 
                    <td> {{chainStatistics.numberOfPeers}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Polls </th> 
                    <td> {{chainStatistics.numberOfPolls}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Transactions </th> 
                    <td> {{chainStatistics.numberOfTransactions}} </td>
                  </tr>
                  <tr>
                    <th class="text-left"> Votes </th> 
                    <td> {{chainStatistics.numberOfVotes}} </td>
                  </tr>
                </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>