<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">Account Details</h2>
                    <app-breadcrumb></app-breadcrumb>
                    <h3 class="back-button" (click)="goBack()">
                        <i class="fa fa-chevron-left"></i> Back
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block mr-3 ml-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> Address
                            </div>
                            <h4> {{account.accountRS}} </h4>
                        </div>

                        <div class="col-md-6">
                            <div class="ucsb"> Balance
                            </div>
                            <h4> {{account.balanceTQT | amountTqt}}
                                <small> XIN</small>
                            </h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="ucsb"> Name
                            </div>
                            <h4> {{account.name | notSet }} </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="ucsb">
                                Description
                            </div>
                            <h4> {{account.description | notSet }} </h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <ngb-tabset type="pills">
                                <ngb-tab>
                                    <ng-template ngbTabTitle>
                                        <i class="fa fa-key"></i> Public Key </ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <input disabled="true" type="text" value="{{account.publicKey | noOutbound }}" class="form-control">
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>
                                        <i class="fa fa-hashtag"></i> QR Code </ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-group">
                                            <div class="position-relative">
                                                <qrcode [qrdata]="account.accountRS" [size]="200" [level]="'M'"></qrcode>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>