<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">AT Compiler</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>

                <div class="card-body">
                    <div class="card-block mt-4 mr-md-2 ml-md-2 form-bordered">
                        <div class="row">
                            <div class="col-12">
                                <div class="header-border">
                                    <div (click)="redirectToCompiler()" class="row">
                                        <div class="col-10">Compiler</div>
                                        <div class="col-2 text-right pl-0 pr-1"><i class="icon-next_arrow circle-arrow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <h3 class="text-dark">At Templates</h3>
                            </div>
                        </div>

                        <div class="row mt-1">
                            <div class="col-12 pb-2">
                                <div class="scroll-wrapper">
                                    <div class="scroller scroller-left"><i class="icon-next_arrow circle-arrow"></i></div>
                                    <div class="scroller scroller-right"><i class="icon-next_arrow circle-arrow"></i></div>
                                </div>
                            </div>
                            <div class="col-12 at-tabs tab-wrapper">
                                <ul class="nav nav-tabs nav-justified nav-auto  at-list">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'simple'}" (click)="showTab('simple')">
                                            <i class="icon-SWApps"></i><span>Simple AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'sleep'}" (click)="showTab('sleep')">
                                            <i class="icon-account_info"></i><span>Sleep AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'auction'}" (click)="showTab('auction')">
                                            <i class="icon-receive"></i><span>Auction AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'cod'}" (click)="showTab('cod')">
                                            <i class="icon-AT"></i><span>Certificate of Deposit AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'crowdfunding'}"
                                            (click)="showTab('crowdfunding')">
                                            <i class="icon-Dashboard"></i><span>Crowdfunding AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'dormant'}" (click)="showTab('dormant')">
                                            <i class="icon-wallet"></i><span>Dormant Funds AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'lottery'}" (click)="showTab('lottery')">
                                            <i class="icon-Voting"></i><span>Lottery AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'lotteryrepeat'}"
                                            (click)="showTab('lotteryrepeat')">
                                            <i class="icon-Shuffling"></i><span>Lottery Repeat AT</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" [ngClass]="{'active': displayTab == 'fuscavor'}" (click)="showTab('fuscavor')">
                                            <i class="icon-Escrow"></i><span>Fuscavor Funds AT</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'simple'}">
                                        <pre>
                                            <code>
^declare DeveloperWallet
^declare AmountToReturn
^declare LastTransaction
^declare ValidTransaction
^declare WalletBalance

^comment Init runs once and never again.
Init:
^comment setting my address
SET @DeveloperWallet #6e4e78e8e25f59bd
^comment Return 20 XIN
SET @AmountToReturn #0000000077359400

^comment start of 2nd run
PCS
Update:
^comment Grab the last payment to the AT
FUN A_to_Tx_after_Timestamp $LastTransaction
^comment Check if the Transaction is valid
FUN @ValidTransaction check_A_Is_Zero
^comment if it is not valid, Check if Developers get any money.
BZR $ValidTransaction :DeveloperFund
^comment Update Last Transaction
FUN @LastTransaction get_Timestamp_for_Tx_in_A
^comment Send 20 XIN back
FUN B_to_Address_of_Tx_in_A
FUN send_to_Address_in_B $AmountToReturn
^comment Check for More Transactions
JMP :Update

DeveloperFund:
^comment Get The Current Balance of the wallet.
FUN @WalletBalance get_Current_Balance
^comment if the wallet balance is <20, dont send.
BLE $WalletBalance $AmountToReturn :Finish
^comment Leave 20 XIN in the Wallet and return the rest.
SUB @WalletBalance $AmountToReturn
^comment set B1 to Developer.
FUN set_B1 $DeveloperWallet
FUN send_to_Address_in_B $WalletBalance

Finish:
^comment Finish the AT and set
FIN
                                            </code>
                                        </pre>
                                    </div>

                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'sleep'}">
                                        <pre>
                                            <code>
^declare SleepTillThisTime
^declare Counter

^comment set the AT to activate 5 blocks later.
SET @SleepTillThisTime #0000000000000005

Update:
PCS
SLP $SleepTillThisTime
INC @Counter
JMP :Update
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'auction'}">
                                        <pre>
                                            <code>
^declare endingCondition
^declare currentBid
^declare highBidder
SET @minNextBid $currentBid
FUN @timestamp get_Block_Timestamp
FUN @deadline add_Minutes_to_Timestamp $timestamp $endingCondition
PCS

txLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
FIZ $scratch
FUN @timestamp get_Timestamp_for_Tx_in_A
BGT $timestamp $deadline :refundEnd
FUN @scratch get_Amount_for_Tx_in_A
BLT $scratch $minNextBid :refund
FUN B_to_Address_of_Tx_in_A
FUN @scratch2 get_B1
FUN set_B1 $highBidder
FUN send_to_Address_in_B $currentBid
SET @currentBid $scratch
SET @highBidder $scratch2
SET @minNextBid $currentBid
INC @minNextBid
JMP :txLoop

refund:
FUN B_to_Address_of_Tx_in_A
FUN send_to_Address_in_B $scratch
JMP :txLoop

refundEnd:
FUN B_to_Address_of_Tx_in_A
FUN @scratch get_Amount_for_Tx_in_A
FUN send_to_Address_in_B $scratch
FUN B_to_Address_of_Creator
FUN send_to_Address_in_B $currentBid
FUN clear_A
FUN set_A1 $highBidder
FUN send_A_to_Address_in_B

endLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
BZR $scratch :sendAllCreator
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN @scratch get_Amount_for_Tx_in_A
FUN B_to_Address_of_Tx_in_A
FUN send_to_Address_in_B $scratch
JMP :endLoop

sendAllCreator:
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
JMP :endLoop
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'cod'}">
                                        <pre>
                                            <code>
^declare amtTotal
^declare waitBlocks
^declare paymentBlocks

SLP $waitBlocks
FUN @scratch get_Current_Balance
BLT $scratch $amtTotal :failedFunding
SLP $paymentBlocks
FUN B_to_Address_of_Creator

payoutLoop:
FUN send_All_to_Address_in_B
JMP :payoutLoop

failedFunding:
FUN B_to_Address_of_Creator
FUN @timestamp get_Creation_Timestamp

failedRefundLoop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @scratch check_A_Is_Zero
BZR $scratch :failedRefundCleanout
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN B_to_Address_of_Tx_in_A
FUN @scratch get_Amount_for_Tx_in_A
FUN send_to_Address_in_B $scratch

JMP :failedRefundLoop
failedRefundCleanout:
FUN send_All_to_Address_in_B

JMP :failedRefundLoop
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'crowdfunding'}">
                                        <pre>
                                            <code>
FUN @block_height get_Block_Timestamp
SLP $decision
FUN @amount get_Current_Balance
BGE $amount $target_amount :funded
FUN @timestamp get_Creation_Timestamp
refund_loop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @tx_info check_A_Is_Zero
BZR $tx_info :end_loop
FUN @tx_amount get_Amount_for_Tx_in_A
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN B_to_Address_of_Tx_in_A
SET @funded #0000000000000002
FUN send_to_Address_in_B $tx_amount
JMP :refund_loop
funded:
SET @funded #0000000000000001
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
FUN @timestamp get_Last_Block_Timestamp
end_loop:
FUN A_to_Tx_after_Timestamp $timestamp
FUN @tx_info check_A_Is_Zero
BZR $tx_info :end_loop
FUN @timestamp get_Timestamp_for_Tx_in_A
FUN B_to_Address_of_Creator
FUN send_All_to_Address_in_B
JMP :end_loop
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'dormant'}">
                                        <pre>
                                            <code>
if @timestamp not zero goto loop
get last block timestamp and put in @timestamp
set @am_type_subtype to 0x0000000100000002 (AM)
set @payout account to 0x0000000011111111

:init
set @payout_time to $timestamp
set @tx_info to (604800 seconds in a week)
add @tx_info to @payout_time

:loop
get tx at after @timestamp and store in @txid
if @txid is zero finish
get timestamp for @txid and store in @tx_time
get tx type for @txid and store in @tx_info
if @tx_info != @am_type_subtype goto skip
get AT owner's account and store in @tx_info
get account for @txid and put in @tx_source
if @tx_info != @tx_source goto skip
get AM data for @txid at pos @zero and put in @tx_info
if @tx_info zero then goto skip
set @payout_account to @tx_info

:skip
if @payout_account zero goto ignore
if @tx_time > @payout_time goto payout

:ignore
set @timestamp to @tx_time
goto init

:payout
pay balance to @payout_account
finish
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'lottery'}">
                                        <pre>
                                            <code>
Script Assembly
---------------

if @timestamp not zero goto loop                         1e0000000039
set @min_amount to 100 (1 unit)                          01090000006400000000000000
get last block timestamp and put in @timestamp           35140000000000

:init (0000001a)
set @payout_time to $timestamp                           020100000000000000
set @tx_info to (604800 seconds in a week)               0104000000803a090000000000
add @tx_info to @payout_time                             060100000004000000

:loop (00000039)
get tx at after @timestamp and store in @txid            3615000200000000000000
if @txid is zero finish                                  2602000000

get timestamp for @txid and store in @tx_time            3616000300000002000000
if @tx_time > @payout_time goto payout                   1f030000000100000072

get amount for @txid and store in @tx_amount             361b000800000002000000
if @tx_amount == @min_amount goto continue               2308000000090000000f
goto refund                                              1af3000000

:continue (00000078)
get tx type for @txid and store in @tx_info              361c000400000002000000
if @tx_info is non-zero goto skip                        1e0400000035

get ticket for @txid and store in @tx_info               3617000400000002000000
if @tx_info zero finish                                  26040000007f

if @tx_info < @best_ticket goto skip                     2004000000050000001e
set @best_ticket to @tx_info                             020500000004000000
get account for @txid and put in @best_account           3618000600000002000000

:skip (000000b8)
set @timestamp to @tx_time                               020000000003000000
goto loop                                                1a39000000

:payout (000000c6)
get old balance and store in @balance                    35200007000000
if @balance is zero goto empty                           1b0700000018
if @best_ticket is zero goto empty                       1b0500000012
pay balance to @best_account                             33210006000000
goto finish_payout                                       1a31010000

:empty (000000e5)
set @timestamp to @tx_time                               020000000003000000
goto init                                                1a1a000000

:refund (000000f3)
get account for @tx_id and put in @target_account        3618000a00000002000000
if @tx_amount < @min_amount goto :refund_less            20080000000900000023
subtract @min_amount from @tx_amount                     070800000009000000
send @tx_amount to @target_account                       341f00080000000a000000
goto continue                                            1a78000000

:refund less (00000121)
send @tx_amount to @target_account                       341f00080000000a000000
goto skip                                                1ab8000000

:finish_payout (00000131)
set @timestamp to @payout_time                           020000000004000000
clear @best_ticket to zero                               0305000000
goto init                                                1a1a000000
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'lotteryrepeat'}">
                                        <pre>
                                            <code>
^declare TicketPrice
^declare MinNumPlayers
^declare WinnerPercent
^declare GameEndBlocks
^declare CurrentWinner
^declare LastTransaction
^declare ValidTransaction
^declare NewTickets
^declare TotalTicketsBoughtPreviously
^declare TotalTicketsBought
^declare MyRandomNumber
^declare EndTime
^declare ScratchBuffer
^declare CurrentBalance
^declare OriginalCurrentBalance
^declare HostPercent

^comment If this is the first time running, set some default variables.
Start:
^comment 50 XIN per ticket. min fee should = this.
SET @TicketPrice #000000012a05f200
SET @MinNumPlayers #0000000000000003
SET @WinnerPercent #0000000000000050
SET @HostPercent #000000000000000a
^comment GameEnds in 50 Block automatically
SET @GameEndBlocks #0000000000000032

Restart:
^comment by default, the creator wins.
CLR @EndTime
CLR @TotalTicketsBought
SET @TotalTicketsBoughtPreviously #0000000000000001
FUN B_to_Address_of_Creator
FUN @CurrentWinner get_B1

^comment when the program starts for the next time, it will start from here.
PCS
Update:


UpdateNewPlayerLoop:
^comment new way of grabbing transactions
FUN A_to_Tx_after_Timestamp $LastTransaction
FUN @ValidTransaction check_A_Is_Zero
BZR $ValidTransaction :NoMoreTx
FUN @LastTransaction get_Timestamp_for_Tx_in_A

^comment check how much the PlayerPaid and convert to tickets
FUN @NewTickets get_Amount_for_Tx_in_A
ADD @NewTickets $TicketPrice
DIV @NewTickets $TicketPrice
^comment run internal lottery based on past tickets
SET @TotalTicketsBought $TotalTicketsBoughtPreviously
ADD @TotalTicketsBought $NewTickets
^comment Random Number Generator
SET @MyRandomNumber $LastTransaction
^comment based on random number, figure out who won.
MOD @MyRandomNumber $TotalTicketsBought
BGE $MyRandomNumber $TotalTicketsBoughtPreviously :ChangeWinner

UpdateNewPlayerContinue:
^comment update the totalnumber of tickets now
SET @TotalTicketsBoughtPreviously $TotalTicketsBought
JMP :UpdateNewPlayerLoop

ChangeWinner:
FUN B_to_Address_of_Tx_in_A
FUN @CurrentWinner get_B1
JMP :UpdateNewPlayerContinue

NoMoreTx:
^comment if the end time is not set, Try to set end time
BZR $EndTime :SetEndTime

EndTimeSetted:
^comment if endtime is still not set, wait for more players.
BZR $EndTime :End
^comment if time is up, end the lottery
BNZ $EndTime :CloseAuction
JMP :End

SetEndTime:
^comment do not set endtime if there are not enough players
BLT $TotalTicketsBought $MinNumPlayers :EndTimeSetted
^comment set the end time to 1
INC @EndTime
SLP $GameEndBlocks
JMP :Update

^comment we select a winner here and kill the AT
CloseAuction:
FUN @CurrentBalance get_Current_Balance
SET @OriginalCurrentBalance $CurrentBalance
FUN set_B1 $CurrentWinner

^comment calculate payout - total / 100 * pecent
SET @ScratchBuffer #0000000000000064
DIV @CurrentBalance $ScratchBuffer
MUL @CurrentBalance $WinnerPercent
FUN send_to_Address_in_B $CurrentBalance

^comment Payout Host
PayHost:
DIV @OriginalCurrentBalance $ScratchBuffer
MUL @OriginalCurrentBalance $HostPercent
FUN B_to_Address_of_Creator
FUN send_to_Address_in_B $OriginalCurrentBalance

^comment reset the AT
JMP :Restart
^comment Missing End here to save XIN

End:
FIN
                                            </code>
                                        </pre>
                                    </div>
                                    <div class="tab-pane" [ngClass]="{'active': displayTab == 'fuscavor'}">
                                        <pre>
                                            <code>
^declare ticket_price
^declare countdown_minutes
^declare percent_payout
^declare percent_dev
^declare percent_other
^declare dev_address
^declare other_address
^declare end_block
^declare current_winner
^declare last_pot
^declare last_tx
^declare one_hundred
^declare temp
^declare temp2
FUN @end_block get_Block_Timestamp
FUN @end_block add_Minutes_to_Timestamp $end_block $countdown_minutes
FUN @last_tx get_Creation_Timestamp
SET @one_hundred #0000000000000064
PCS
start:
FUN A_to_Tx_after_Timestamp $last_tx
FUN @temp check_A_Is_Zero
FIZ $temp
FUN @last_tx get_Timestamp_for_Tx_in_A
BGT $last_tx $end_block :payout
process:
FUN @temp get_Amount_for_Tx_in_A
BLT $temp $ticket_price :start
FUN B_to_Address_of_Tx_in_A
FUN @current_winner get_B1
FUN @end_block get_Block_Timestamp
FUN @end_block add_Minutes_to_Timestamp $end_block $countdown_minutes
JMP :start
payout:
FUN @last_pot get_Current_Balance
SET @temp $last_pot
DIV @temp $one_hundred
SET @temp2 $temp
MUL @temp2 $percent_payout
FUN clear_B
FUN set_B1 $current_winner
FUN send_to_Address_in_B $temp2
SET @temp2 $temp
MUL @temp2 $percent_dev
FUN clear_B
FUN set_B1 $dev_address
FUN send_to_Address_in_B $temp2
SET @temp2 $temp
MUL @temp2 $percent_other
FUN clear_B
FUN set_B1 $other_address
FUN send_to_Address_in_B $temp2
FUN @end_block get_Block_Timestamp
FUN @end_block add_Minutes_to_Timestamp $end_block $countdown_minutes
JMP :process

350003070000003706040700000007000000010000003501030a000000010b0000006400000000000000303304030a0000003525010c000000260c0000003507030a0000001f0a00000007000000403506030c000000200c00000000000000d5320a0335040108000000350003070000003706040700000007000000010000001a2b00000035000409000000020c00000009000000090c0000000b000000020d0000000c000000080d00000002000000322101331601080000003302040d000000020d0000000c000000080d00000003000000322101331601050000003302040d000000020d0000000c000000080d00000004000000322101331601060000003302040d000000350003070000003706040700000007000000010000001a4f000000
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>