<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-left">

            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

            <br>

            <form name="registerShuffleForm">

              <div class="col-md-4">
                  <div class="ucsb"> Shuffling

                      &nbsp;
                      <i
                              class="fa fa-question-circle-o"
                              aria-hidden="true"
                              style="color:#000000;"
                              popover-placement="left"
                              popover-trigger="'mouseenter'"
                              data-container="body"
                              uib-popover="The shuffle ID"
                      ></i>

                  </div>
                  <h5>
                      {{registerShuffleForm.shuffling}}
                  </h5>
              </div>

              <div class="col-md-4">
                  <div class="ucsb"> Holding Type

                      &nbsp;
                      <i
                              class="fa fa-question-circle-o"
                              aria-hidden="true"
                              style="color:#000000;"
                              popover-placement="left"
                              popover-trigger="'mouseenter'"
                              data-container="body"
                              uib-popover="The holding type. Token, Asset or Currency"
                      ></i>

                  </div>
                  <h5>
                      {{registerShuffleForm.holding | holdingType}}
                  </h5>
              </div>

              <div class="col-md-4">
                  <div class="ucsb"> Amount

                      &nbsp;
                      <i
                              class="fa fa-question-circle-o"
                              aria-hidden="true"
                              style="color:#000000;"
                              popover-placement="left"
                              popover-trigger="'mouseenter'"
                              data-container="body"
                              uib-popover="The shuffling amount"
                      ></i>

                  </div>
                  <h5>
                      {{registerShuffleForm.amount | amountTQT}}
                  </h5>
              </div>

              <div class="col-md-12">
                  <hr/>
              </div>

                <div class="col-md-10">
                    <div class="ucsb"> Shuffle Full hash

                        &nbsp;
                        <i
                                class="fa fa-question-circle-o"
                                aria-hidden="true"
                                style="color:#000000;"
                                popover-placement="left"
                                popover-trigger="'mouseenter'"
                                data-container="body"
                                uib-popover="The shuffle full hash"
                        ></i>


                    </div>
                    <h5>
                        {{registerShuffleForm.shufflingFullHash}}
                    </h5>
                </div>

                <div class="col-md-2">

                  <div class="ucsb"> &nbsp;</div>

                    <button ng-disabled="isLocalhostOrTestnet===false || !registerShuffleForm.$valid" class="btn btn-infinity pull-right"
                            ng-click="$nextStep()"><i
                            class="fa fa-chevron-right"
                            aria-hidden="true"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div ng-init="initStep1()"></div>
