<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block pb-0">
                    <div class="border-bt">
                        <h2 class="main-title">Broadcast Transaction</h2>
                        <app-breadcrumb></app-breadcrumb>
                    </div>
            <div class="card-body mt-4 mb-4">
                <div class="card-block ml-1 mr-1 ml-md-3 mr-md-3">
                    <form #f="ngForm" class="form inner-form" name="broadcastTransactionForm" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <label>Transaction Bytes
                                            <i class="fa fa-question-circle-o" container="body" placement="right"
                                               triggers="mouseenter:mouseleave"
                                               ngbPopover="The signed transaction bytes (hex) to broadcast to the network"></i>
                                        </label>
                                        <div class="position-relative">
                                            <textarea rows="5" type="text"
                                                      [(ngModel)]="broadcastTransactionForm.bytes"
                                                      class="form-control"
                                                      name="bytes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--     <hr *ngIf="showTransaction"> -->
                            <div class="row" *ngIf="showTransaction">
                                <div class="col-md-6">
                                    <div class="form-group m-0">
                                        <label>Broadcasted
                                        </label>
                                        <h6>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-0">
                                        <label>Transaction Id
                                        </label>
                                        <div>
                                            <h6> {{transaction}} </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="left mb-3">
                                <button type="button"
                                        (click)="broadcastTransaction()"
                                        class="btn btn-gradient mr-1 mb-0 float-right">Broadcast
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>