<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.pending-orders.title' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body mt-4">
                    <div class="card-block mt-2">
                        <div class="row tag-details shadow-box mb-3" *ngFor="let good of pendingProducts">
                            <div class="col-md-2">
                                <i class="icon-placeholder placeholder-icon"></i>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-7 ">
                                        <h2><a (click)="productDetails(good)">{{ good.name }}</a></h2>
                                        <h4>{{ good.priceTQT | amountTqt }} {{ 'common.xin-unit-text' | translate }}</h4>
                                    </div>
                                    <div class="col-md-5 text-right time">
                                        <i class="icon-Account"></i> {{ good.timestamp | timestamp }}
                                    </div>
                                    <div class="col-md-12">
                                        <p class="mt-2">{{ good.description }}</p>
                                        <ul class="mt-2 tag-info mb-0">
                                            <li>
                                                <i class="icon-Account"></i>
                                                <strong>{{ 'marketplace.pending-orders.quantity' | translate }}:
                                                </strong>
                                                {{ good.quantity }}
                                            </li>
                                            <li>
                                                <i class="icon-Account"></i>
                                                <strong>{{ 'marketplace.pending-orders.buyer' | translate }}: </strong>
                                                <a (click)="searchByTerm('account_id', good.buyerRS)">
                                                    {{ good.buyerRS }}
                                                </a>
                                            </li>
                                            <li>
                                                <i class="icon-Account"></i>
                                                <strong>
                                                    {{ 'marketplace.pending-orders.delivery-deadline' | translate }}:
                                                </strong>
                                                {{ good.deliveryDeadlineTimestamp | timestamp }}
                                            </li>
                                            <li>
                                                <i class="icon-Blockexplorer"></i>
                                                <strong>{{ 'marketplace.pending-orders.id' | translate }}: </strong>
                                                <a (click)="productDetails(good)">{{ good.goods }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <div>
                                    <button type="button" class="btn btn-gradient float-right" (click)="deliverProduct(product)">
                                        {{ 'marketplace.pending-orders.deliver-product' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="pendingProducts.length == 0">
                            <div class="col-md-12">
                                <p class="text-center">{{ 'marketplace.pending-orders.no-orders' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>