<div class="row list-a-product">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.list-a-product.title' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block mt-2">
                        <form class="form inner-form mt-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>{{ 'marketplace.list-a-product.name' | translate }}</label>
                                    <div class="position-relative">
                                        <input type="text" id="name" class="form-control" [(ngModel)]="product.name"
                                            #productName="ngModel" placeholder="{{ 'marketplace.list-a-product.name_placeholder' | translate }}"
                                            name="name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'marketplace.list-a-product.description' | translate }}</label>
                                    <div class="position-relative">
                                        <textarea id="description" class="form-control" [(ngModel)]="product.description"
                                            #productDescription="ngModel" placeholder="{{ 'marketplace.list-a-product.description_placeholder' | translate }}"
                                            name="description" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                {{ 'marketplace.list-a-product.tags' | translate }}
                                                <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                    container="body" placement="right" [ngbPopover]="'marketplace.list-a-product.tag_popover' | translate"></i>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" id="tags" class="form-control" [(ngModel)]="product.tags"
                                                    #productTags="ngModel" placeholder="{{ 'marketplace.list-a-product.tags_placeholder' | translate}}"
                                                    name="tags" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{ 'marketplace.list-a-product.price' | translate }}</label>
                                            <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                <div class="col-10 pl-0">
                                                    <input type="number" id="price" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                        [(ngModel)]="product.priceTQT" #productPrice="ngModel"
                                                        placeholder="{{ 'marketplace.list-a-product.price_placeholder' | translate }}"
                                                        name="price" required>
                                                </div>
                                                <div class="col-2 text-right pl-0">
                                                    <span class="input-group-text">XIN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{ 'marketplace.list-a-product.quantity' | translate }}</label>
                                            <div class="input-group m-0">
                                                <input type="number" id="quantity" class="form-control" [(ngModel)]="product.quantity"
                                                    #productQuantity="ngModel" placeholder="{{ 'marketplace.list-a-product.quantity_placeholder' | translate }}"
                                                    name="quantity" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{ 'marketplace.list-a-product.fee' | translate }}</label>
                                            <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                <div class="col-10 pl-0">
                                                    <input type="number" id="fee" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                        [(ngModel)]="product.feeTQT" #productFee="ngModel" placeholder="{{ 'marketplace.list-a-product.fee_placeholder' | translate }}"
                                                        name="fee" required>
                                                </div>
                                                <div class="col-2 text-right pl-0">
                                                    <span class="input-group-text">XIN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'marketplace.list-a-product.passphrase' | translate }}</label>
                                    <div class="position-relative">
                                        <input type="text" id="passphrase" class="form-control" [(ngModel)]="product.secretPhrase"
                                            #passphrase="ngModel" placeholder="{{ 'marketplace.list-a-product.passphrase_placeholder' | translate }}"
                                            name="passphrase" required />
                                    </div>
                                </div>

                                <div *ngIf="isAdvancedSettings">
                                    <ul class="nav nav-tabs nav-fill nav-auto mt-4">
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'no-approval'}">
                                                <i class="icon-icon2"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'deffered'}">
                                                <i class="icon-Shuffling"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'fixed-accounts'}">
                                                <i class="icon-Crowdfunding"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'amount'}">
                                                <i class="icon-Ordinary_Payments"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'assets'}">
                                                <i class="icon-Voting"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'currencies'}">
                                                <i class="icon-currencies"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'hash'}">
                                                <i class="icon-chain_statistics"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'secret-hash'}">
                                                <i class="icon-calculate_hash"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'no-approval'}">
                                            {{ 'marketplace.list-a-product.process_without_approval' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <button type="button" class="btn btn-gradient mr-1 float-right" (click)="putProductForSale(product)">
                                        {{ 'marketplace.list-a-product.putForSale' | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>