<div class="row list-a-product">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block main-card-block">
                <div class="border-bt">
                    <h2 class="main-title">{{ 'marketplace.list-a-product.title' | translate }}</h2>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <div class="card-body">
                    <div class="card-block mt-2">
                        <form class="form inner-form mt-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>{{ 'marketplace.list-a-product.name' | translate }}</label>
                                    <div class="position-relative">
                                        <input type="text" id="name" class="form-control" placeholder="{{ 'marketplace.list-a-product.name_placeholder' | translate }}"
                                            name="name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'marketplace.list-a-product.description' | translate }}</label>
                                    <div class="position-relative">
                                        <textarea id="description" class="form-control" placeholder="{{ 'marketplace.list-a-product.description_placeholder' | translate }}"
                                            name="description" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>
                                                {{ 'marketplace.list-a-product.tags' | translate }}
                                                <i class="fa fa-question-circle-o" triggers="mouseenter:mouseleave"
                                                    container="body" placement="right" [ngbPopover]="'marketplace.list-a-product.tag_popover' | translate"></i>
                                            </label>
                                            <div class="position-relative">
                                                <input type="text" id="tags" class="form-control" placeholder="{{ 'marketplace.list-a-product.tags_placeholder' | translate}}"
                                                    name="tags" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{ 'marketplace.list-a-product.price' | translate }}</label>
                                            <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                <div class="col-10 pl-0">
                                                    <input type="number" id="price" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                        placeholder="{{ 'marketplace.list-a-product.price_placeholder' | translate }}"
                                                        name="price" required>
                                                </div>
                                                <div class="col-2 text-right pl-0">
                                                    <span class="input-group-text">XIN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{ 'marketplace.list-a-product.quantity' | translate }}</label>
                                            <div class="input-group m-0">
                                                <input type="number" id="quantity" class="form-control" placeholder="{{ 'marketplace.list-a-product.quantity_placeholder' | translate }}"
                                                    name="quantity" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group m-0">
                                            <label>{{ 'marketplace.list-a-product.fee' | translate }}</label>
                                            <div class="input-group m-0 sign_in_inputs row form-border-bottom pb-1">
                                                <div class="col-10 pl-0">
                                                    <input type="number" id="fee" class="pl-0 mb-0 pt-0 pb-0 form-control"
                                                        placeholder="{{ 'marketplace.list-a-product.fee_placeholder' | translate }}"
                                                        name="fee" required>
                                                </div>
                                                <div class="col-2 text-right pl-0">
                                                    <span class="input-group-text">XIN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'marketplace.list-a-product.passphrase' | translate }}</label>
                                    <div class="position-relative">
                                        <input type="text" id="passphrase" class="form-control" placeholder="{{ 'marketplace.list-a-product.passphrase_placeholder' | translate }}"
                                            name="passphrase" required />
                                    </div>
                                </div>

                                <div *ngIf="isAdvancedSettings" class="form-group">
                                    <label>{{ 'marketplace.list-a-product.deadline' | translate }} ({{
                                        'marketplace.list-a-product.hours' | translate }})</label>
                                    <div class="position-relative">
                                        <input type="number" id="deadline" class="form-control" placeholder="{{ 'marketplace.list-a-product.deadline' | translate }}"
                                            name="deadline" required />
                                    </div>
                                </div>

                                <div *ngIf="isAdvancedSettings" class="mt-4">
                                    <ul class="nav nav-tabs nav-fill nav-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'no-approval'}"
                                                (click)="tabSelected = 'no-approval'">
                                                <i class="icon-icon2" triggers="mouseenter:mouseleave" container="body"
                                                    placement="top" [ngbPopover]="'marketplace.list-a-product.process_without_approval_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'deffered'}"
                                                (click)="tabSelected = 'deffered'">
                                                <i class="icon-Shuffling" triggers="mouseenter:mouseleave" container="body"
                                                    placement="top" [ngbPopover]="'marketplace.list-a-product.deffered_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'fixed-accounts'}"
                                                (click)="tabSelected = 'fixed-accounts'">
                                                <i class="icon-Crowdfunding" triggers="mouseenter:mouseleave" container="body"
                                                    placement="top" [ngbPopover]="'marketplace.list-a-product.fixed_accounts_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'amount'}" (click)="tabSelected = 'amount'">
                                                <i class="icon-Ordinary_Payments" triggers="mouseenter:mouseleave"
                                                    container="body" placement="top" [ngbPopover]="'marketplace.list-a-product.amount_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'assets'}" (click)="tabSelected = 'assets'">
                                                <i class="icon-Voting" triggers="mouseenter:mouseleave" container="body"
                                                    placement="top" [ngbPopover]="'marketplace.list-a-product.assets_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'currencies'}"
                                                (click)="tabSelected = 'currencies'">
                                                <i class="icon-currencies" triggers="mouseenter:mouseleave" container="body"
                                                    placement="top" [ngbPopover]="'marketplace.list-a-product.currencies_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'hash'}" (click)="tabSelected = 'hash'">
                                                <i class="icon-chain_statistics" triggers="mouseenter:mouseleave"
                                                    container="body" placement="top" [ngbPopover]="'marketplace.list-a-product.hash_popover' | translate"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [ngClass]="{'active': tabSelected == 'secret-hash'}"
                                                (click)="tabSelected = 'secret-hash'">
                                                <i class="icon-calculate_hash" triggers="mouseenter:mouseleave"
                                                    container="body" placement="top" [ngbPopover]="'marketplace.list-a-product.secret_hash_popover' | translate"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'no-approval'}">
                                            <app-process-without-approval></app-process-without-approval>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'deffered'}">
                                            <app-deffered-height></app-deffered-height>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'fixed-accounts'}">
                                            <app-fixed-accounts></app-fixed-accounts>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'amount'}">
                                            <app-amount></app-amount>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'assets'}">
                                            <app-assets></app-assets>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'currencies'}">
                                            <app-currencies></app-currencies>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'hash'}">
                                            <app-transaction-hash></app-transaction-hash>
                                        </div>
                                        <div class="tab-pane" [ngClass]="{'active': tabSelected == 'secret-hash'}">
                                            <app-secret-hash></app-secret-hash>
                                        </div>
                                    </div>

                                    <div class="form-group mt-4">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="checkbox" id="broadcast" name="broadcast" required />
                                                <label for="broadcast">{{ 'marketplace.list-a-product.donot_broadcast'
                                                    | translate }}</label>
                                            </div>

                                            <div class="col-6">
                                                <input type="checkbox" id="sign_transaction" name="sign_transaction"
                                                    required />
                                                <label for="sign_transaction">{{
                                                    'marketplace.list-a-product.donot_sign' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="checkbox" id="self_note_check" name="self_note" required />
                                        <label for="self_note_check">{{ 'marketplace.list-a-product.add_note_to_self' |
                                            translate }}</label>
                                    </div>

                                    <div class="form-group">
                                        <label>{{ 'marketplace.list-a-product.note_to_self' | translate }}</label>
                                        <div class="position-relative">
                                            <textarea type="text" id="self_note" class="form-control" style="margin-bottom: 0 !important;"
                                                name="self_note" required></textarea>
                                            <span class="small">{{ 'marketplace.list-a-product.encrypted_note' |
                                                translate }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <button type="button" class="btn btn-raised btn-danger mr-1 mb-0 mr-3" (click)="isAdvancedSettings = !isAdvancedSettings">
                                        <i class="fa fa-plus mr-1" [ngClass]="{'fa-plus': !isAdvancedSettings, 'fa-minus': isAdvancedSettings }"></i>{{
                                        (!isAdvancedSettings) ? ('marketplace.list-a-product.advanced' | translate)
                                        : ('marketplace.list-a-product.basic' | translate) }}
                                    </button>

                                    <button type="button" class="btn btn-gradient mr-1 float-right">
                                        {{ 'marketplace.list-a-product.putForSale' | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>